*{
    padding:0px;
    margin:0px;
}
body{
    min-height: fit-content;
    background: rgb(103, 240, 103);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 770px;
    width:400px;
    background-color: rgb(7, 145, 7);
    border-radius: 10px;
    position:fixed;
    top:0px;
    z-index: 55;
}
a{
    text-decoration-line:none ;
    color:white;
    text-transform: uppercase;

    list-style: none;
    height:60px;
    line-height: 60px;
    width: 390px;
    background-color: darkgreen;
    border-radius: 15px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 30px;
    transition:0.5s;
    display: block;

}
a:hover{
    background-color: rgb(12, 202, 12);
    letter-spacing: 1px;
}
ul{
    position:absolute;
     top:5px;
     left:5px;
     right:5px;

}
P{
  font-size: 23px;
}
div{
    width :550px;
    position:relative;
     top: 10px;
     left:420px;
}
#bs{

    width: 450px;
    position: relative;
    left:1100px;
    bottom:500px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 10px rgb(7, 145, 7);
}   
#mm {
     position:fixed;
      text-align: center;
       font-size: 45px;   
       background-color: rgb(21, 136, 21);
      z-index:44;
      width:100%;
      height:100px;
      line-height: 100px;
      white-space: pre-wrap;
}

.card{
    border: solid 10px gray;
    position:relative;
    top:150px;
    left:430px;
    background-color: beige;
    height:400px;
    width:250px;
    border-radius: 25px;
   
}
.mub {
 display:flex;
    gap:20px;
    flex-wrap: wrap;
    width:1200px;
}
.bk{
   display:flex;
    gap:20px;
    flex-wrap: wrap;  
    width:1200px;

}

.food{
    position:absolute;
     top:0px;
     bottom: 40px;
     left:0px;
     right:0px;
     width: 250px;
     height: 215px;
     border-radius: 15px;
}
.clothes{
     position:absolute;
     top:0px;
     bottom: 40px;
     left:0px;
     right:0px;
     width: 330px;
     height: 330px;
     border-radius: 15px;
}
section> div >h2{
      position:absolute;
        top:215px;
        text-align: center;

}
section> div > p{
    position:absolute;
    top: 250px;
    text-align: center;
}
.diff{
    position: absolute;
    top: 330px;
    text-align: center;
}
.dif{
    position:absolute;
    top:360px;
    text-align: center;
}
.bk div{
    border: solid 10px gray;
    position:relative;
    top:150px;
    left:450px;
    background-color: beige;
    border-radius: 25px;
    width: 330px;
    height:500px;
    
    }
.themost , .mapt{
       position:fixed;
      text-align: center;
       font-size: 45px;   
       background-color: rgb(21, 136, 21);
      z-index:44;
      width:100%;
      height:100px;
      line-height: 100px;
      white-space: pre-wrap;
      text-transform: uppercase;
}
.theft{
       position:absolute;
        left:10px;
        top:150px;
      height:100px;
      text-transform: uppercase;
}
.thest{
       position:absolute;
        left:10px;
        top:1000px;
      height:100px;
      text-transform: uppercase;
      width:fit-content
}
.link{
      position:absolute;
        left:10px;
        top:1100px;
      height:100px;
      text-transform: uppercase;
      width:fit-content;
      font-size:40px;
      text-decoration-line:underline ;
      color:blue;
      background-color: rgb(103, 240, 103);
}
.link:hover{
    letter-spacing: 0px;
    background-color:rgb(103, 240, 103) ;
}
div #yoyo{
    width:1000px;
    position:absolute;
    left:30px;
    top:200px;
    box-shadow:  0px 0px 15px 10px rgb(7, 145, 7);
    height:750px;
    border-radius: 30px;
}
.t{
       position:fixed;
       top:0px;
      text-align: center;
       font-size: 45px;   
       background-color: rgb(21, 136, 21);
      z-index:44;
      width:100%;
      height:100px;
      line-height: 100px;
      white-space: pre-wrap;
      text-transform: uppercase;
}
.MC{
    position:relative;
     left: 405px;
     top: 110px;
    height:350px;
    border-radius: 20px;
    background-color: rgb(248, 218, 180);
    margin: 15px;
    border: gray solid 7px;
    width: 1120px;

}
.places{
    position:absolute;
    top:0px;
    left:0px;
    width: 245px;
    height: 350px;
    border-radius: 10px;
   /* box-shadow:0px 0px 15px 10px rgb(7, 145, 7) ;*/
}
.t-places{
    position: absolute;
    left: 250px ;
    top:10px;
    text-transform: uppercase;

}
.dis{
    position:absolute;
    top: 55px;
    left:250px;

    
}
.sp{
    position: absolute;
    bottom: 10px;
    left: 250px;
    text-transform: uppercase;
      width:fit-content;
      text-decoration-line:underline ;
      color:blue;
      background-color: rgb(248, 218, 180);
}
.sp:hover{
     letter-spacing: 0px;
    background-color:rgb(103, 240, 103) ;
}